<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.discussapplication" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="DiscussApplication" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="LandingActivity" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="CommentActivity" >
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="PostActivity" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".AlltopicActivity"
            android:label="@string/title_activity_alltopic" >
        </activity>
        <activity
            android:name=".CateActivity"
            android:label="@string/title_activity_cate" >
        </activity>
        <activity
            android:name=".PostImageActivity"
            android:label="@string/title_activity_post_image" >
        </activity>
        <activity
            android:name=".Comment2Activity"
            android:label="@string/title_activity_comment2" >
        </activity>
    </application>

</manifest>
