<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.discussapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="DiscussApplication"
        android:theme="@style/AppTheme" >
      ">

        <!-- Splash screen -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".LandingActivity" >
        </activity>
        <activity android:name=".RegisterActivity" >
        </activity>
        <activity android:name=".CommentActivity" >
        </activity>
        <activity android:name=".PostActivity" >
        </activity>
        <activity android:name=".ProfileActivity" >
        </activity>
        <activity android:name=".AlltopicActivity" >
        </activity>
        <activity android:name=".CateActivity" >
        </activity>
        <activity android:name=".PostImageActivity" >
        </activity>
        <activity android:name=".Comment2Activity" >
        </activity>
        <activity android:name=".SearchActivity" >
        </activity>
        <activity
            android:name=".EditPostActivity"
            android:label="@string/title_activity_edit_post" >
        </activity>
        <activity
            android:name=".EditCommentActivity"
            android:label="@string/title_activity_edit_comment" >
        </activity>
        <activity
            android:name=".Search2Activity"
            android:label="@string/title_activity_search2" >
        </activity>
        <activity
            android:name=".StaffActivity"
            android:label="@string/title_activity_staff" >
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".Admin2Activity"
            android:label="@string/title_activity_admin2" >
        </activity>
        <activity
            android:name=".Admin3Activity"
            android:label="@string/title_activity_admin3" >
        </activity>
        <activity
            android:name=".Staff2Activity"
            android:label="@string/title_activity_staff2" >
        </activity>
    </application>

</manifest>
